<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
<header>
	<h4><font color='blue'>CS602 Project - Fatema Lemonwala</font></h4>
	<h2><font color='brown'><center>Gringotts Payroll</center></font></h2>

	<img src='/images/GringottsLogo.gif' alt='logo' style="width:200px;height:200px;">
	<p>
	<center><h2>{{title}}</h2></center>
	<h2><font color="red">{{error}}</font></h2>
</header>

	{{{body}}}
<hr>
</body>
</html>